<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="/static/css/dashboard.css">

</head>
<body>
    <div class="container">
        <div class="header-buttons">
            <div style="display: flex; align-items: center; justify-content: space-between;">
                <button id="open-barrier-button" class="btn btn-success" style="margin-right: 10px;">Apertura manual</button>
                <input type="number" id="barrier-open-sec" placeholder="Tiempo Apertura (segundos)" class="form-control d-inline-block" style="width: auto; margin-right: 10px;">
                <button id="set-barrier-time-button" class="btn btn-secondary">Establecer Tiempo</button>
            </div>
            <button id="logout-button" class="btn btn-danger">Cerrar sesión</button>
        </div>

        <div class="table-responsive">
            <table id="cards-table" class="table table-bordered">
                <thead>
                    <tr>
                        <th>UID</th>
                        <th>Acceso</th>
                        <th>Válido Desde</th>
                        <th>Válido Hasta</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody id="table-body">
                </tbody>
            </table>
        </div>
        <button id="add-card-button" class="btn btn-primary mt-3">Registrar nueva tarjeta</button>

        <div class="modal-overlay" id="modal-overlay">
            <div class="modal" id="modal">
                <h4>Nueva tarjeta</h4>
                <div id="new-card-form">
                    <div class="form-group">
                        <label for="new-auth-checkbox">Acceso Autorizado</label>
                        <input type="checkbox" id="new-auth-checkbox" class="large-checkbox">
                    </div>
                    <div class="form-group">
                        <label for="new-valid-from">Válido Desde</label>
                        <input type="text" id="new-valid-from" class="form-control datepicker">
                    </div>
                    <div class="form-group">
                        <label for="new-valid-to">Válido Hasta</label>
                        <input type="text" id="new-valid-to" class="form-control datepicker">
                    </div>
                    <button id="confirm-new-card" class="btn btn-success">Confirmar</button>
                    <button id="cancel-new-card" class="btn btn-secondary">Cancelar</button>
                </div>
                <div id="waiting-message" style="display: none;">
                    <p>Por favor, coloca la tarjeta en el lector y espera a que se grabe correctamente...</p>
                </div>
                <div id="success-message" style="display: none;">
                    <p>¡Tarjeta registrada correctamente!</p>
                    <button id="close-success-message" class="btn btn-primary">Cerrar</button>
                </div>
                <div id="error-message" style="display: none;">
                    <p>Error al registrar la tarjeta. Por favor reintentalo de nuevo.</p>
                    <button id="close-error-message" class="btn btn-primary">Cerrar</button>
                </div>
                <div id="error-message-already-registered" style="display: none;">
                    <p>Tarjeta ya registrada. Por favor, elimina ya tarjeta actual o reintentalo con otra tarjeta.</p>
                    <button id="close-error-message-already-registered" class="btn btn-primary">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="/static/js/dashboard.js"></script>

</body>
</html>
